# Root .gitignore

# Common ignores
node_modules/
.env
.env.local
.env.*.local
dist/
dist-ssr/

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
