.noteStyle{
  padding:5px;
  color :rgb(0, 0, 0);
  font-weight: 400;
  background-color: white;
  padding:17px;
  width:175px;
  margin-left: 10px;
  margin-top: 10px;

} 

.noteStyle p {
  font-size: large;
  font-weight: 400;
}